body{
    margin: 0;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}
.message{
    position: absolute;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 15px #00aaff, 0 0 25px #00aaff;
    pointer-events: none;
}
h1 {
    font-size: 2.5rem;
    margin: 0;
}